html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #262626;
  margin: 0;
  padding: 0;
}

/*Main*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

/*Header*/
.header{
  background-color: white;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  display: flex;
  justify-content:flex-start;
  align-items: center;

}

.header h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 28px;
  color: #262626;
  margin: 10px;
}

.header h1:nth-child(1){
  padding-left:20px;
}
.header h1:nth-child(2){
  border-left: 1px solid #E6E6E6;
  padding:10px;
}

/* Center*/
.box{
  margin-top: 20px;
  border : 1px solid #E6E6E6;
  background-color: white;
  width: 40%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 16px;
  color: #262626;
  font-family: 'Roboto', sans-serif;
}
.text{
  font-size: 14px;
  color: #4d4b4b;
  font-family: 'Roboto', sans-serif;
}

label{
  padding: 5px 0 0 0;
  color: #262626;
}

a a:hover .link{
  color: #4d4b4b;
}

.link{
  font-size: 12px;

}
/* Hide the Register box or Login box with JS*/

.hide{
  display:none;
}
