html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #262626;
  margin: 0;
  padding: 0;
}
a, a:link, a:active, a:hover, a:visited {
  color: #262626;
  cursor: pointer;
  text-decoration: none;
}
/*FLex Box*/
.container_column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  }

.container_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
  }

.container_column_list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  }

/*Decoration*/
  /*Header*/
.header{
  background-color: white;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items: center;
  margin :0 , 25px, 0 5px;
}

.header span{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items: center;
  margin-left: 10px;
}

.header h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 28px;
  font-weight: normal;
  color: #262626;
}

.header h1:nth-child(1){
  padding: 0 5px 0 5px;
}
.header h1:nth-child(2){
  border-left: 1px solid #E6E6E6;
  padding: 0 2px 0 6px;
}

  /*Main Frame (Video)*/
  .video{
    border: 1px solid #E6E6E6;
    background-color: white;
  }

  .video_title{
    background-color: white;
  }

  .video h2{
    font-size: 14px;
    background-color: white;
    text-indent : 20px;
  }


  /*List*/
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
}
.list h2{
  font-size: 14px;
  text-indent : 20px;
  text-align: left;
  margin-bottom: 10px;
}

.list li {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 3px 0 2px 2px;
  min-height: 95px;
}

.list ul{
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  margin: 5px 8px 8px 8px ;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.list span{
  padding: 0 5px 0 ;
}

.list form{
  display: inline;
}

.mix_name{
  display: flex;
  width: 100%;
  margin: 0 auto 0 8px;
  padding: 0 0 5px 0;
}
/*Form*/
.addLink{
margin: 5px auto;
}

.addLink input[type=text] {
  border: 1px solid #E6E6E6;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #262626;
  padding: 5px;
  width: 80%;

}


/*Button*/
.button{
  border:none;
  background-color: #E6E6E6;
  margin : 1px;
  font-size: 17px;

}
.button:hover{
  background-color: #fafafa;
  cursor: pointer;
}

.play_video{
  color: #262626;
}



.pause_video{
  color: #262626;
}

.delete_video{
  color: #262626;
}

.add_video{
  color: #262626;
  border:none;
  background-color: #E6E6E6;
  margin : 1px;
  font-size: 20px;
}

.add_video:hover{
  background-color: #fafafa;
  cursor: pointer;
}

/*Link*/
.link {
  text-decoration: none;
}

.link img:hover{
  opacity: 0.3;
}